@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
}
html,
body {
  min-height: 100vh;
  background-color: darkgrey;
  font-family: var(--fonte1);
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-family: var(--fonte2);
  font-size: 10vw;
  font-variant: small-caps;
}

header p {
  padding-bottom: 50px;
}

header a,
footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

pre {
  white-space: pre-line;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

section.normal {
  background-color: white;
  color: black;
}

section.imagem {
  background-color: rgb(53, 53, 53);
  color: white;
}

section.imagem > pre {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.253);
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
